  body {
    font-family: 'Varela Round', sans-serif;
  }
    	.navbar{
    		   margin-bottom: 20px;
    	    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
         background-color: rgb(71, 71, 107);
    		transition: 0.3s;
    	}

    	/* On mouse-over, add a deeper shadow */
		.navbar:hover {
		  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		}

    	form {

    		width: 70%;
        margin: 0 auto;

    		

    	}


    	#search-bar{

    		width: 85%;
    		border: 2px solid rgb(128, 179, 255);
        margin: 0 auto;


    	}


    	#navbarSupportedContent a{

    		margin: 0 15px;

    	}

    	.action-nav button{

    		margin: 0 15px;

    		
    	}


    	/* Item Section 
    	****************/

    	#item-pack-cont,#item-low-cont{

    		
    		margin: 20px 1%;
    		height: 610px;
    		overflow: scroll;
    		padding: 4px 1px;
    	}


      #item-low-cont li{

        background-color: black;
        color: white;

      }
  
       #item-sec .row{


        	margin: 0 auto;
        }




        /* Low Item 
        ************/


        .list-group{
        	
        	
        	margin: 0px 0;
        	
        }

        .list-group-item{

        	border-radius: 0;

        }


        #item-pack-cont{

         /* display: flex;
          flex-wrap: wrap; */
          
          position: relative;
          background-color: rgb(230, 230, 230);

          width: 100%;
          margin: 0 auto;

        }


        .card{

            margin: 19px;
             box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

           
        }



        .card-header{

           background-color: rgb(71, 71, 107);
           color:white;
           text-align: right;


        }

        /* Delete Modal */
        .modal-body{

            height: 350px;
            overflow: scroll;

        }

        .del-btn{

            color:red;
            position: absolute;
            top:5px;
            right: 10px;
            border: none;

        }

        .card:hover {
           box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

       }

       .card { transition: all .2s ease-in-out; }


      .card:hover { transform: scale(1.1); }



      /* Are you sure you want to delete */

      .modal-confirm {    
    color: #636363;
    width: 400px;
  }
  .modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
        text-align: center;
    font-size: 14px;
  }
  .modal-confirm .modal-header {
    border-bottom: none;   
        position: relative;
  }
  .modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
  }
  .modal-confirm .close {
        position: absolute;
    top: -5px;
    right: -2px;
  }
  .modal-confirm .modal-body {
    color: #999;
  }
  .modal-confirm .modal-footer {
    border: none;
    text-align: center;   
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
  }
  .modal-confirm .modal-footer a {
    color: #999;
  }   
  .modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
  }
  .modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
  }
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
        line-height: normal;
    min-width: 120px;
        border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
    outline: none !important;
    }
  .modal-confirm .btn-info {
        background: #c1c1c1;
    }
    .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
        background: #a8a8a8;
    }
    .modal-confirm .btn-danger {
        background: #f15e5e;
    }
    .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
        background: #ee3535;
    }
  .trigger-btn {
    display: inline-block;
    margin: 100px auto;
  }